<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form #addressForm="ngForm" (ngSubmit)="onSubmit(addressForm)">
        <div class="form-group">
          <label>Street Name</label>
          <input class="form-control" name="streetName" [(ngModel)]="address.streetName" required>
        </div>
        <div class="form-group">
          <label>Ward</label>
          <input class="form-control" name="ward" [(ngModel)]="address.ward">
        </div>
        <div class="form-group">
          <label>District</label>
          <input class="form-control" name="district" [(ngModel)]="address.district">
        </div>
        <div class="form-group">
          <label>City</label>
          <input class="form-control" name="city" [(ngModel)]="address.city">
        </div>
        <div class="form-group">
          <label>Country</label>
          <input class="form-control" name="country" [(ngModel)]="address.country">
        </div>
        <div class="form-group">
          <button class="btn btn-default btn-block" type="submit" [disabled]="!addressForm.valid">
            <i class="fa fa-floppy-o"></i>
            Submit</button>
          <button class="btn btn-default btn-block" type="button" (click)="resetForm(addressForm)">
            <i class="fa fa-repeat"></i>
            Reset</button>
          <button class="btn btn-default btn-block" type="button" routerLink="/addresslist">
            <i class="fa fa-home"></i>
            Home</button>
          <button class="btn btn-default btn-block" type="button"  (click)="getCurrentLocation()">
            <i class="fa fa-map-marker"></i>
            Get current location</button>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <div class="text-center">
        <h5>Google Map</h5>
        <app-map (onTest)='getAddressInfo($event)'></app-map>
      </div>
    </div>
  </div>
</div>